body {
	margin: 0px;
}

.district {
	cursor: pointer;
	stroke: black;
	stroke-width: 3px;
}

.district:hover{
	stroke:#ff5050;
	stroke-width:4px;
}


.sDistrict {
	stroke: black;
	stroke-width: 2px;
}


.listTick text {
  font-size: 1em;
  font-family: sans-serif;
}

.listTick circle {
  stroke: black;
  stroke-opacity: 0.5;
}

text {
	font: sans-serif;
}

.back {
	cursor: pointer;
}
.candidates {
	cursor: pointer;
}

.button {
	cursor: pointer;
}

.bar {
	cursor: pointer;
}